## Words

In [21]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [ ]:
for word in words:
    print(word.upper())

**Create a new list containing only words with 5 or more letters**

In [ ]:
long_words = [word for word in words if len(word) >= 5]
print(long_words)

**Print the first word starting with "t"**

In [ ]:
first_t_word = next((word for word in words if word.startswith('t')), None)
print(first_t_word)

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [ ]:
squares = [num**2 for num in range(1, 11)]
print(squares)

**Print a list containing the square of every odd number from 1 to 10**

In [ ]:
odd_squares = [num**2 for num in range(1, 11) if num % 2 != 0]
print(odd_squares)

**Create a list with the squares of all multiples of 8 below 1000**

In [ ]:
multiples_of_8_squares = [num**2 for num in range(8, 1000, 8)]
print(multiples_of_8_squares)

## People

In [33]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "LucÃ­a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [ ]:
total_people = len(people)
print(total_people)

**How many people have kids**?

In [ ]:
people_with_kids = len([person for person in people if person["n_kids"] > 0])
print(people_with_kids)

**How many kids do they have in total?**

In [ ]:
total_kids = sum(person["n_kids"] for person in people)
print(total_kids)

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [ ]:
updated_people = [
    {**person, "n_kids": person["n_kids"] + 1} if person["name"].endswith('a') else person
    for person in people
]
print(updated_people)