## Words

In [53]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [54]:
upper_words = [word.upper() for word in words]
upper_words

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [55]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

words2 = [word for word in words if len(word) >= 5]
words2

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [56]:
words2 = ['filling', 'theatre', 'easygoing', 'story', 'island']

for word in words2:
    if word[0] == "t":
        print(word)

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [57]:

list = [numbers**2 for numbers in range(1, 11)]

list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [58]:
list = [numbers**2 for numbers in range(1, 11) if numbers % 2 == 0]

list

[4, 16, 36, 64, 100]

**Create a list with the squares of all multiples of 8 below 1000**

In [59]:
list = [numbers**8 for numbers in range(1, 1000) if numbers**8 <= 1000]
list

[1, 256]

## People

In [60]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [61]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

num_people = len(people)
num_people

5

**How many people have kids**?

In [62]:
n_kids = 0

for person in people:
    if person["n_kids"] > 0:
        n_kids += 1
n_kids

4

**How many kids do they have in total?**

In [63]:
total = 0

for person in people:
    total += person["n_kids"]

total

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [64]:
next_year = []

for person in people:
    if person["name"].endswith("a"):
        person["n_kids"] += 1
    next_year.append(person)

next_year

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 2},
 {'name': 'Lucía', 'age': 22, 'n_kids': 3},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]