## Words

In [ ]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [5]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
upper_list = []
for word in words:
    upper_list.append(word.upper())

upper_list

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [15]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
small_words=[]

for word in words:
    if len(word)<5:
        small_words.append(word)
print(small_words)

['play', 'bar', 'date', 'lead', 'that']

In [13]:
small_words = [i for i in words if len(i) <5]
small_words

['play', 'bar', 'date', 'lead', 'that']

**Print the first word starting with "t"**

In [15]:
for word in small_words:
    if word[0] == "t":
        print(word)

that

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [10]:
squared_list=[]

for num in range(11):
    squared_list.append(num**2)
print(squared_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [9]:
odd_list=[]

for num in range(11):
    if num %2==0:
        odd_list.append(num**2)
print(odd_list)

[0, 4, 16, 36, 64, 100]

**Create a list with the squares of all multiples of 8 below 1000**

In [21]:
squares=[]
for num in range(1000):
    if num %8==0:
        squares.append(num)
print(squares)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

## People

In [3]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

len(people)

5

**How many people are there?**

In [4]:
len(people)

5

**How many people have kids**?

In [8]:
parents = 0

for child in people:
    if child["n_kids"] >0:
        parents +=1

print(f"There are {parents} people with kids")

There are 4 people with kids

**How many kids do they have in total?**

In [18]:
children = 0

for person in people:
    children += person ["n_kids"]

print(f"the total of children is of {children}")

the total of children is of 10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [27]:
people_in_a_year = []

for person in people:
    updated_person = person.copy()
    updated_person["age"]+=1

    if updated_person["name"].endswith("a"):
        updated_person["n_kids"] +=1

    people_in_a_year.append(updated_person)

print(people_in_a_year)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]