## Words

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [3]:
for word in words:
    print(word[0])

p
f
b
t
e
d
l
t
s
i

**Create a new list containing only words with 5 or more letters**

In [4]:
list = []
for word in words:
  if len(word) >= 5:
      list.append(word)
print(list)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [6]:
list = []
for word in words:
  if word[0] == 't':
      print(word)
      break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [7]:
for num in range(1,11):
    print(num**2)

1
4
9
16
25
36
49
64
81
100

**Print a list containing the square of every odd number from 1 to 10**

In [8]:
list = []
for num in range(1, 11):
    if num % 2 != 0:
        list.append(num ** 2)
print(list)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [9]:
list = []
for num in range(1, 1001):
    square = num ** 2
    if square < 1000:
        list.append(square)
    else:
        break
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961]

## People

In [10]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [11]:
len(people)

5

**How many people have kids**?

In [12]:
withChildren = 0
for person in people:
    if person['n_kids'] > 0:
        withChildren += 1
print(f"{withChildren} have children")

4 have children

**How many kids do they have in total?**

In [13]:
children = 0
for person in people:
    children += person['n_kids']
print(children)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [15]:
list = []
for person in people:
    if person['name'][-1] == "a":
        person['n_kids'] += 1
    list.append(person)
print(list)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]