## Words

In [6]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [35]:
# Alternative 1: for loop
for word in words:
    print(word.upper())

# Alternative 2: list compreehensions
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND
['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [44]:
# Alternative 1: for loop
new_list = []
for word in words:
    if len(word) >= 5:
        new_list.append(word)
print(new_list)

# Alternative 2: list compreehensions
new_list_2 = [word for word in words if len(word) >=5]
print(new_list_2)

['filling', 'theatre', 'easygoing', 'story', 'island']
['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [60]:
# Alternative 1: for loop
for word in words:
    if word[0] == "t":
        print(word)
        break

# Alternative 2: list compreehensions
first_word = [word for word in words if word[0] == "t"][0]
print(first_word)

theatre
theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [64]:
# Alternative 1: for loop
numbers=[]
for i in range(10):
    numbers.append((i+1)**2)
print(numbers)

# Alternative 2: list comprehension
numbers_2=[(i+1)**2 for i in range (10)]
print(numbers_2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [68]:
numbers_odd =[(i+1)**2 for i in range (10) if i % 2 != 0]
print(numbers_odd)

[4, 16, 36, 64, 100]

**Create a list with the squares of all multiples of 8 below 1000**

In [76]:
numbers_mult_8 =[i for i in range(1,1000) if i % 8 == 0]

print(numbers_mult_8)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

## People

In [140]:
test = {"name":"joana", "job": "mech engineer", "age": 27}
test["name"]
test.get("job")
test["job"]
test["age"] += 1
print(test["age"])

28

In [164]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [120]:

num_people=len(people)
print(num_people)

5

**How many people have kids**?

In [124]:
people_w_kids = [element for element in people if element["n_kids"] > 0]
print(len(people_w_kids))

4

**How many kids do they have in total?**

In [126]:
nr_kids = [element["n_kids"] for element in people]
total = 0
for kid in nr_kids:
    total += kid
print(total)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [166]:
# kids_in_years = [element["n_kids"] + 1 for element in people if element["name"][-1] == "a"]

for element in people:
    if element["name"][-1] == "a":
        element["n_kids"] += 1
print(people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]