## Words

In [21]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [22]:
Alphawords = [word.upper() for word in words]
print(Alphawords)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [23]:
morewords = [word for word in words if len(word) >= 5]

print(morewords)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [25]:
ersteTword = next((word for word in words if word.startswith('t')), None)

print(ersteTword)

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [28]:
sq = [x**2 for x in range(1, 11)]

print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [27]:
odsq = [x**2 for x in range(1, 11) if x % 2 != 0]

print(odsq)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [ ]:
multiples_of_8_squares = [x**2 for x in range(8, 1000, 8)]

print(multiples_of_8_squares)

## People

In [13]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "LucÃ­a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [ ]:
num_people = len(people)

**How many people have kids**?

In [ ]:
num_with_kids = sum(1 for person in people if person['n_kids'] > 0)

**How many kids do they have in total?**

In [ ]:
total_kids = sum(person['n_kids'] for person in people)

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [ ]:
people_next_year = []
for person in people:
    new_person = person.copy() 
    if person['name'].endswith('a'):
        new_person['n_kids'] += 1 
    people_next_year.append(new_person)

num_people, num_with_kids, total_kids, people_next_year