## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
# your code here

words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

uppercaselist=[] #create and emptylist to store the uppercase words 
#the loop goes trough each word in the list 'words' and appends it to the uppercaselist using the upper
for each_word in words:
    uppercaselist.append(each_word.upper())
    


print(uppercaselist)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [3]:
# your code here
# your code here 

words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island', 'bruno']

fiveletters=[] #create and emptylist to store the five letters words

#the loop goes trough each word in the list 'words' and checks if the length is 5 letters and appends to the fiveletters empty lis
for each_word in words:
    if len(each_word) == 5:
        fiveletters.append(each_word)
    


print(fiveletters)

['story', 'bruno']

**Print the first word starting with "t"**

In [3]:
# your code here

words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island', 'bruno']

word_T = []

for each_word in words:
    if each_word[0] == 't': #checks if each word in the list as the first letter 't'
        word_T.append(each_word) #appends to the empty list word_T the words that match the criteria 

print(word_T)

['theatre', 'that']

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [4]:
# your code here
squared_numbers =[] #empty list

for i in range (1,11): #checks in the range from 1 to 10 excluding 11 and including 1
    squared_numbers.append(i**2) #appends to the list each number squared

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [18]:
# your code here

oddnumbers =[] #empty list

for i in range (1,11): #checks in the range from 1 to 10 excluding 11 and including 1
    if (i % 2) != 0: 
        oddnumbers.append(i ** 2)

print(oddnumbers)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [6]:
# your code here

squared_numbers =[] #empty list

for i in range (1,1001):
    x = i ** 2 
    if x % 8 == 0:
        squared_numbers.append(x)

print(squared_numbers)

[16, 64, 144, 256, 400, 576, 784, 1024, 1296, 1600, 1936, 2304, 2704, 3136, 3600, 4096, 4624, 5184, 5776, 6400, 7056, 7744, 8464, 9216, 10000, 10816, 11664, 12544, 13456, 14400, 15376, 16384, 17424, 18496, 19600, 20736, 21904, 23104, 24336, 25600, 26896, 28224, 29584, 30976, 32400, 33856, 35344, 36864, 38416, 40000, 41616, 43264, 44944, 46656, 48400, 50176, 51984, 53824, 55696, 57600, 59536, 61504, 63504, 65536, 67600, 69696, 71824, 73984, 76176, 78400, 80656, 82944, 85264, 87616, 90000, 92416, 94864, 97344, 99856, 102400, 104976, 107584, 110224, 112896, 115600, 118336, 121104, 123904, 126736, 129600, 132496, 135424, 138384, 141376, 144400, 147456, 150544, 153664, 156816, 160000, 163216, 166464, 169744, 173056, 176400, 179776, 183184, 186624, 190096, 193600, 197136, 200704, 204304, 207936, 211600, 215296, 219024, 222784, 226576, 230400, 234256, 238144, 242064, 246016, 250000, 254016, 258064, 262144, 266256, 270400, 274576, 278784, 283024, 287296, 291600, 295936, 300304, 304704, 309136, 313600, 318096, 322624, 327184, 331776, 336400, 341056, 345744, 350464, 355216, 360000, 364816, 369664, 374544, 379456, 384400, 389376, 394384, 399424, 404496, 409600, 414736, 419904, 425104, 430336, 435600, 440896, 446224, 451584, 456976, 462400, 467856, 473344, 478864, 484416, 490000, 495616, 501264, 506944, 512656, 518400, 524176, 529984, 535824, 541696, 547600, 553536, 559504, 565504, 571536, 577600, 583696, 589824, 595984, 602176, 608400, 614656, 620944, 627264, 633616, 640000, 646416, 652864, 659344, 665856, 672400, 678976, 685584, 692224, 698896, 705600, 712336, 719104, 725904, 732736, 739600, 746496, 753424, 760384, 767376, 774400, 781456, 788544, 795664, 802816, 810000, 817216, 824464, 831744, 839056, 846400, 853776, 861184, 868624, 876096, 883600, 891136, 898704, 906304, 913936, 921600, 929296, 937024, 944784, 952576, 960400, 968256, 976144, 984064, 992016, 1000000]

## People

In [2]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [10]:
# your code here

num_People = len(people)

print(num_People)

5

**How many people have kids**?

In [12]:
# your code here

kids = 0

for person in people:
    if person["n_kids"] > 0:
        kids += 1

print(kids)

4

**How many kids do they have in total?**

In [16]:
# your code here

total_kids= 0

for i in people:
    total_kids += i["n_kids"]

print(total_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [7]:
# your code here

people_future = []

for person in people:
    if person["name"].endswith("a"):
        person_future = {
            "name": person["name"],
            "n_kids": person["n_kids"] + 1,  # Add an extra kid
            "age": person["age"] + 1         # Increase age by 1
        }
        people_future.append(person_future)

print(people_future)

[{'name': 'Sonia', 'n_kids': 2, 'age': 42}, {'name': 'Lucía', 'n_kids': 3, 'age': 23}]