## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [4]:
#Loop through the list and use the upper case function and print the word
print("Words in upper case:\n")
for word in words:
    print(word.upper())

Words in upper case:

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [7]:
#Creating a list with words with more than 5 characters using list comprehension
words_5_or_more_letters = [x for x in words if len(x) >= 5]
#Print the list
print(words_5_or_more_letters)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [10]:
#Loop through the list and find the words starting with the letter t and then break the loop as soon as the first one is found
for word in words:
    if word.lower().startswith('t'):
        print("First word with letter t is : {}".format(word))
        break
    else:
        pass

First word with letter t is : theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [14]:
# List of squares of every number from 1 to 10
print("Squared List of numbers between 1 to 10 : {}".format([num**2 for num in range(1,11)]))

Squared List of numbers between 1 to 10 : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [17]:
# List of Odd Numbers between 1 and 10
print("Odd Number List of numbers between 1 to 10 : {}".format([num for num in range(1,11) if num%2 != 0]))

Odd Number List of numbers between 1 to 10 : [1, 3, 5, 7, 9]

**Create a list with the squares of all multiples of 8 below 1000**

In [20]:
# List of Squares of all multiples of 8 below 1000
print("List of Squares of all multiples of 8 below 1000 : {}".format([num**2 for num in range(1000) if num%8 == 0]))

List of Squares of all multiples of 8 below 1000 : [0, 64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [23]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [26]:
print("Number of people in the list : {}".format(len(people)))

Number of people in the list : 5

**How many people have kids**?

In [29]:
# Storing list of people with kids
people_with_kids = [i for i in people if i['n_kids'] != 0]
print("Number of people with kids: {}".format(len(people_with_kids)))

Number of people with kids: 4

**How many kids do they have in total?**

In [32]:
# your code here
list_of_n_kids = [pk['n_kids'] for pk in people_with_kids]
print("Number of total kids: {}".format(sum(list_of_n_kids)))

Number of total kids: 10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [35]:
#Initialize New List
new_list = []

for p in people:

    #Initialize a new instance of dict with updated information
    new_dict = dict()

    #Assign name and new age after 1 year
    new_dict['name'] = p['name']
    new_dict['age'] = p['age'] + 1
    
    #Check if the person's name ends with the letter 'a' and then update the number of kids by 1 for them
    if p['name'].lower().endswith('a'):
        new_dict['n_kids'] = p['n_kids'] + 1
    else:
        new_dict['n_kids'] = p['n_kids']

    #Append to the new list with the updated information
    new_list.append(new_dict)

print("\nPeople Data Before 1 year update: \n{}".format(people))
print("\nPeople Data After 1 year update: \n{}".format(new_list))

People Data Before 1 year update:
[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'Lucía', 'age': 22, 'n_kids': 2}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

People Data After 1 year update:
[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]