## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
# your code here
upper_words = []

for word in words:
    upper_words.append(word.upper())

print(upper_words)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [3]:
# your code here
new_list = []

for word in words:
    if len(word) >= 5:
        new_list.append(word)

print(new_list)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [8]:
# your code here
for word in words:
    if word[0] == "t":
        print(word)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [9]:
# your code here
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square_numbers = []

for number in numbers:
    square_numbers.append(number**2)

print(square_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [11]:
# your code here
square_numbers_odd = []

for number in numbers:
    if number % 2 != 0:
        square_numbers_odd.append(number**2)

print(square_numbers_odd)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [19]:
# your code here
numbers_list = []
multiples_8 = []

for i in range(0,1000):
    numbers_list.append(i)
    if i % 8 == 0:
        multiples_8.append(i)

print(multiples_8)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

## People

In [53]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [21]:
# your code here
len(people)

5

**How many people have kids**?

In [45]:
people_kids = []

for person in people:
    if person["n_kids"] > 0:
        people_kids.append(person["name"])

print(people_kids)
print(len(people_kids), "people have kids")

['Juan', 'Sonia', 'Lucía', 'Leo']
4 people have kids

**How many kids do they have in total?**

In [47]:
# your code here
kids_number = []
kids_sum = 0

for person in people:
    kids_number.append(person["n_kids"])

for number in kids_number:
    kids_sum += number
    
print(kids_sum)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [54]:
# your code here
updated_people = []

for person in people:
    if person["name"][-1] == "a":
        person["n_kids"] += 1
    updated_person = {
        "name": person["name"],
        "age": person["age"] + 1,
        "n-kids": person["n_kids"]
    }
    updated_people.append(updated_person)

print(updated_people)

[{'name': 'Juan', 'age': 35, 'n-kids': 2}, {'name': 'Pepe', 'age': 28, 'n-kids': 0}, {'name': 'Sonia', 'age': 42, 'n-kids': 2}, {'name': 'Lucía', 'age': 23, 'n-kids': 3}, {'name': 'Leo', 'age': 56, 'n-kids': 5}]