## Words

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [3]:
# your code here

for element in words:
    print(element.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [4]:
# your code here

new_list = []

for element in words:
    if len(element) >= 5:
        new_list.append(element)

new_list

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [5]:
# your code here

for element in words:
    if element[0] == 't':
        print(element)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [7]:
# your code here

square_numbers = [n**2 for n in range (1,11)]
square_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [9]:
# your code here

square_numbers = [n**2 for n in range (1,11) if n % 2 != 0]
square_numbers

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [15]:
# your code here

square_numbers = [n**2 for n in range (1, 1000, 8)]
square_numbers

[1,
 81,
 289,
 625,
 1089,
 1681,
 2401,
 3249,
 4225,
 5329,
 6561,
 7921,
 9409,
 11025,
 12769,
 14641,
 16641,
 18769,
 21025,
 23409,
 25921,
 28561,
 31329,
 34225,
 37249,
 40401,
 43681,
 47089,
 50625,
 54289,
 58081,
 62001,
 66049,
 70225,
 74529,
 78961,
 83521,
 88209,
 93025,
 97969,
 103041,
 108241,
 113569,
 119025,
 124609,
 130321,
 136161,
 142129,
 148225,
 154449,
 160801,
 167281,
 173889,
 180625,
 187489,
 194481,
 201601,
 208849,
 216225,
 223729,
 231361,
 239121,
 247009,
 255025,
 263169,
 271441,
 279841,
 288369,
 297025,
 305809,
 314721,
 323761,
 332929,
 342225,
 351649,
 361201,
 370881,
 380689,
 390625,
 400689,
 410881,
 421201,
 431649,
 442225,
 452929,
 463761,
 474721,
 485809,
 497025,
 508369,
 519841,
 531441,
 543169,
 555025,
 567009,
 579121,
 591361,
 603729,
 616225,
 628849,
 641601,
 654481,
 667489,
 680625,
 693889,
 707281,
 720801,
 734449,
 748225,
 762129,
 776161,
 790321,
 804609,
 819025,
 833569,
 848241,
 863041,
 877969,
 893025,
 908209,
 923521,
 938961,
 954529,
 970225,
 986049]

## People

In [16]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [17]:
# your code here

len(people)

5

**How many people have kids**?

In [18]:
# your code here

peopleWithKids = 0

for element in people:
    if element["n_kids"] > 0:
        peopleWithKids += 1

peopleWithKids

4

**How many kids do they have in total?**

In [19]:
# your code here

peopleKids = 0

for element in people:
    if element["n_kids"] > 0:
        peopleKids += element["n_kids"]

peopleKids

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [23]:
# your code here

people2 = []

for element in people:
    person = element.copy()
    
    if person["name"][-1] == 'a':
        person["n_kids"] += 1
    
    people2.append(person)

people2

yearsTime = [people, people2]
yearsTime

[[{'name': 'Juan', 'age': 34, 'n_kids': 2},
  {'name': 'Pepe', 'age': 27, 'n_kids': 0},
  {'name': 'Sonia', 'age': 41, 'n_kids': 1},
  {'name': 'Lucía', 'age': 22, 'n_kids': 2},
  {'name': 'Leo', 'age': 55, 'n_kids': 5}],
 [{'name': 'Juan', 'age': 34, 'n_kids': 2},
  {'name': 'Pepe', 'age': 27, 'n_kids': 0},
  {'name': 'Sonia', 'age': 41, 'n_kids': 2},
  {'name': 'Lucía', 'age': 22, 'n_kids': 3},
  {'name': 'Leo', 'age': 55, 'n_kids': 5}]]